/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: Noto Serif, Noto Serif JP, sans-serif;
  color: #171717;
}

html {
  font-size: 62.5%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* END Reset css*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.header .inner {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .inner .header-logo {
  font-size: 2.6rem;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

.header .inner .fa-bars {
  color: #fff;
  z-index: 10;
  line-height: 50px;
  right: 20px;
  font-size: 20px;
}

.header .inner .sp-nav-list {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding-top: 50px;
  background-color: tomato;
}

.header .inner .sp-nav-list ul li {
  width: 100%;
  text-align: center;
}

.header .inner .sp-nav-list ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 16px 0;
}

.header .inner .pc-nav-list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header .inner {
    max-width: 1200px;
    margin: 0 auto;
  }
  .header .inner .header-logo {
    font-size: 3.0rem;
  }
  .header .inner .pc-nav-list {
    display: block;
  }
  .header .inner .pc-nav-list ul {
    display: flex;
    justify-content: flex-end;
  }
  .header .inner .pc-nav-list ul li a {
    height: 80px;
    line-height: 80px;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    display: inline-block;
  }
}

.key-visual {
  background: url(imge/fv-bgi_01@2x.jpg);
  background-position: center;
  background-size: cover;
  min-height: 600px;
  text-align: center;
  position: relative;
}

.key-visual .key-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.key-visual .key-text .key-ttl {
  font-size: 3.7rem;
  letter-spacing: 0.05em;
  line-height: 1.9em;
  color: #fff;
  margin-top: 20px;
  white-space: nowrap;
}

.key-visual .key-text .key-sub-ttl {
  font-size: 2.8rem;
  letter-spacing: 0.05em;
  line-height: 1.9em;
  color: #fff;
  margin-top: 20px;
  white-space: nowrap;
}

@media screen and (min-width: 1200px) {
  .key-visual .key-text {
    text-align: initial;
    margin-left: 80px;
    padding-top: 50px;
  }
  .key-visual .key-text .key-ttl {
    font-size: 7.0rem;
  }
  .key-visual .key-text .key-sub-ttl {
    font-size: 4.0rem;
  }
  .key-visual .key-text .key-sub-ttl .key-br {
    display: none;
  }
}

.concept-wrapper {
  margin-bottom: 20vw;
}

.concept-wrapper .inner {
  margin: 0 10px;
  text-align: center;
}

.concept-wrapper .inner .main-ttl {
  font-size: 3rem;
  font-style: italic;
  line-height: 4.0em;
  letter-spacing: 0.05em;
  color: #282F35;
  margin-bottom: 2vw;
  text-align: initial;
}

.concept-wrapper .inner .main-ttl::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #282F35;
  vertical-align: middle;
  margin-left: 30px;
}

.concept-wrapper .inner .sub-ttl {
  font-size: 2rem;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  margin-bottom: 33px;
}

.concept-wrapper .inner .concept-sec .main-text {
  font-size: 1.6rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  text-align: left;
}

.concept-wrapper .inner .concept-sec img {
  width: 100%;
}

.concept-wrapper .inner .main-ba-bottom {
  font-size: 4rem;
  letter-spacing: 0.05em;
  opacity: .3;
  text-align: right;
  margin-top: 8vw;
}

@media screen and (min-width: 1200px) {
  .concept-wrapper .inner {
    margin: 0;
    width: 1000px;
  }
  .concept-wrapper .inner .main-ttl {
    font-size: 6rem;
  }
}

.works-wrapper .inner {
  margin: 0 10px;
  text-align: center;
}

.works-wrapper .inner .main-ttl {
  font-size: 3rem;
  font-style: italic;
  line-height: 4.0em;
  letter-spacing: 0.05em;
  color: #282F35;
  margin-bottom: 2vw;
  color: #fff;
}

.works-wrapper .inner .main-ttl::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #282F35;
  vertical-align: middle;
  margin-left: 30px;
  background-color: #fff;
}

.works-wrapper .inner .works-sec .works-list {
  margin-bottom: 30px;
}

.works-wrapper .inner .works-sec .works-list a {
  color: #171717;
  text-decoration: none;
}

.works-wrapper .inner .works-sec .works-list a img {
  width: 100%;
  vertical-align: bottom;
}

.works-wrapper .inner .works-sec .works-list a .works-text {
  background-color: #fff;
  padding: 20px;
  text-align: left;
}

.works-wrapper .inner .works-btn a {
  display: inline-block;
  padding: 25px 76px;
  background-color: #F7D43F;
  text-decoration: none;
  font-size: 20px;
  color: #171717;
  border-radius: 100vh;
  margin-bottom: 10vw;
}

.works-wrapper .inner .main-ba-bottom {
  font-size: 4rem;
  letter-spacing: 0.05em;
  opacity: .3;
  text-align: right;
  text-align: left;
}

.ba-img {
  background: url(imge/works-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom: 20vw;
}

.service-wrapper .main-ttl {
  font-size: 3rem;
  font-style: italic;
  line-height: 4.0em;
  letter-spacing: 0.05em;
  color: #282F35;
  margin-bottom: 2vw;
}

.service-wrapper .main-ttl::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #282F35;
  vertical-align: middle;
  margin-left: 30px;
  align-self: center;
}

.service-wrapper .service-sec {
  list-style-type: none;
}

.service-wrapper .service-sec .service-list-01 {
  background: url(imge/service-img01@2x.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 260px;
  margin-bottom: 8vw;
}

.service-wrapper .service-sec .service-list-01 a {
  text-align: center;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  line-height: 260px;
  font-size: 2rem;
  letter-spacing: 0.05em;
  font-style: italic;
}

.service-wrapper .service-sec .service-list-02 {
  background: url(imge/service-img02@2x.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 260px;
  margin-bottom: 8vw;
}

.service-wrapper .service-sec .service-list-02 a {
  text-align: center;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  line-height: 260px;
  font-size: 2rem;
  letter-spacing: 0.05em;
  font-style: italic;
}

.service-wrapper .service-sec .service-list-03 {
  background: url(imge/sevice-img03@2x.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 260px;
  margin-bottom: 8vw;
}

.service-wrapper .service-sec .service-list-03 a {
  text-align: center;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  line-height: 260px;
  font-size: 2rem;
  letter-spacing: 0.05em;
  font-style: italic;
}

.service-wrapper .main-ba-bottom {
  font-size: 4rem;
  letter-spacing: 0.05em;
  opacity: .3;
  text-align: right;
  text-align: left;
}

.contact-wrapper .inner {
  margin: 0 10px;
  text-align: center;
}

.contact-wrapper .inner .main-ttl {
  font-size: 3rem;
  font-style: italic;
  line-height: 4.0em;
  letter-spacing: 0.05em;
  color: #282F35;
  margin-bottom: 2vw;
  color: #fff;
}

.contact-wrapper .inner .main-ttl::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #282F35;
  vertical-align: middle;
  margin-left: 30px;
  background-color: #fff;
}

.contact-wrapper .inner .contact-btn a {
  display: inline-block;
  padding: 25px 76px;
  background-color: #F7D43F;
  text-decoration: none;
  font-size: 20px;
  color: #171717;
  border-radius: 100vh;
  margin-bottom: 10vw;
}

.contact-wrapper .inner .main-ba-bottom {
  font-size: 4rem;
  letter-spacing: 0.05em;
  opacity: .3;
  text-align: right;
  text-align: left;
}

.ba-img {
  background: url(imge/contact-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom: 20vw;
}

.footer {
  background-color: #fff;
  padding: 4vw 0;
  text-align: center;
}
