/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: Noto Serif, Noto Serif JP, sans-serif;
  color: #171717;
}

html {
  font-size: 62.5%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* END Reset css*/
.header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: #282F35;
  height: 60px;
}

.header .inner-pc .inner-sp {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 60px;
}

.header .inner-pc .inner-sp .header-logo a {
  font-size: 2.4rem;
  color: white;
  font-style: italic;
  text-decoration: none;
  height: 60px;
  line-height: 50px;
}

.header .inner-pc .inner-sp .fa-bars {
  font-size: 2.6rem;
  color: white;
  position: absolute;
  top: 16px;
  right: 18px;
}

.header .inner-pc .sp-nav-list {
  position: fixed;
  top: 0;
}

.header .inner-pc .sp-nav-list .fa-times {
  font-size: 2.6rem;
  color: white;
  position: absolute;
  top: 16px;
  right: 18px;
}

.header .inner-pc .sp-nav-list ul {
  height: 100vh;
  background-color: #282F35;
  text-align: center;
}

.header .inner-pc .sp-nav-list ul li {
  text-align: center;
  width: 100vw;
}

.header .inner-pc .sp-nav-list ul li a {
  display: block;
  text-decoration: none;
  font-size: 2.4rem;
  padding: 20px 0;
  color: #fff;
}

.header .pc-nav-list {
  display: none;
}

@media screen and (min-width: 900px) {
  .header {
    width: 100%;
  }
  .header .inner-pc {
    display: flex;
    justify-content: space-between;
  }
  .header .inner-pc .fa-bars {
    display: none;
  }
  .header .pc-nav-list {
    display: block;
  }
  .header .pc-nav-list ul {
    display: flex;
  }
  .header .pc-nav-list ul li {
    height: 60px;
    padding: 0 30px;
  }
  .header .pc-nav-list ul li a {
    color: white;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .inner-pc {
    max-width: 1200px;
  }
}

.key-visual {
  padding-top: 60px;
}

.key-visual .slider li img {
  width: 100%;
}

.key-visual .slider .slick-next {
  display: none;
}

.key-visual .slider .key-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.key-visual .slider .key-text .key-ttl {
  font-size: 2.7rem;
  letter-spacing: 0.05em;
  line-height: 1.9em;
  color: #fff;
  margin-top: 20px;
  white-space: nowrap;
}

.key-visual .slider .key-text .key-sub-ttl {
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.9em;
  color: #fff;
  margin-top: 20px;
  white-space: nowrap;
}

.concept-wrapper .inner {
  margin: 0 10px;
  text-align: center;
}

.concept-wrapper .inner .main-ttl {
  text-align: left;
}

.concept-wrapper .inner .sub-ttl {
  font-size: 1.8rem;
  line-height: 1.5em;
  margin-bottom: 33px;
}

.concept-wrapper .inner .concept-sec .main-text {
  font-size: 1.6rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  text-align: left;
  text-align: left;
  margin-bottom: 66px;
}

.concept-wrapper .inner .concept-sec img {
  width: 100%;
}

.concept-wrapper .inner .main-ba-bottom {
  text-align: right;
}

@media screen and (min-width: 900px) {
  .concept-wrapper .inner {
    max-width: 1000px;
    margin: 0 auto;
  }
  .concept-wrapper .inner .sub-ttl {
    font-size: 3.0rem;
    margin-bottom: 60px;
  }
  .concept-wrapper .inner .concept-sec {
    display: flex;
    justify-content: space-between;
  }
  .concept-wrapper .inner .concept-sec .main-text {
    width: 45%;
  }
  .concept-wrapper .inner .concept-sec img {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .inner-pc {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.works-wrapper {
  background-image: url(imge/works-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  min-height: 500px;
  padding-bottom: 10px;
}

.works-wrapper .main-ttl {
  text-align: right;
  color: #fff;
}

.works-wrapper .main-ttl:after {
  background-color: #fff;
}

.works-wrapper .inner {
  margin: 0 10px;
}

.works-wrapper .inner .works-sec {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 60px;
}

.works-wrapper .inner .works-sec .works-list {
  margin-bottom: 20px;
}

.works-wrapper .inner .works-sec .works-list a {
  text-decoration: none;
  color: #171717;
}

.works-wrapper .inner .works-sec .works-list a img {
  width: 100%;
  vertical-align: bottom;
}

.works-wrapper .inner .works-sec .works-list a .works-text {
  padding: 20px;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  text-align: left;
}

.works-wrapper .inner .works-sec .works-list a:hover {
  opacity: 0.7;
}

.works-wrapper .works-btn {
  text-align: center;
}

.works-wrapper .works-btn a {
  display: inline-block;
  width: 80%;
  height: 60px;
  line-height: 60px;
  background-color: #F7D43F;
  text-decoration: none;
  font-size: 2.4rem;
  color: #171717;
  border-radius: 30px;
}

.works-wrapper .works-btn a:hover {
  opacity: 0.7;
}

.works-wrapper .main-ba-bottom {
  text-align: left;
}

@media screen and (min-width: 900px) {
  .works-wrapper .inner {
    max-width: 1000px;
    margin: 0 auto;
  }
  .works-wrapper .inner .main-ttl:after {
    width: 200px;
  }
  .works-wrapper .inner .works-sec {
    flex-direction: row;
  }
  .works-wrapper .inner .works-sec .works-list {
    width: 33%;
    margin-right: 20px;
    margin-bottom: 0px;
  }
  .works-wrapper .inner .works-sec .works-list:last-of-type {
    margin-right: 0;
  }
  .works-wrapper .inner .works-btn a {
    width: 320px;
  }
}

@media screen and (min-width: 1200px) {
  .inner-pc {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.service-wrapper .inner {
  padding: 0 10px;
}

.service-wrapper .inner .main-ttl {
  text-align: left;
}

.service-wrapper .service-sec {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.service-wrapper .service-sec .service-list-01 {
  background: url(imge/service-img01@2x.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 260px;
  margin-bottom: 8vw;
}

.service-wrapper .service-sec .service-list-01 a {
  text-align: center;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  line-height: 260px;
  font-size: 4rem;
  letter-spacing: 0.05em;
  font-style: italic;
}

.service-wrapper .service-sec .service-list-01 a:hover {
  background-color: rgba(19, 18, 18, 0.3);
}

.service-wrapper .service-sec .service-list-02 {
  background: url(imge/service-img02@2x.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 260px;
  margin-bottom: 8vw;
}

.service-wrapper .service-sec .service-list-02 a {
  text-align: center;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  line-height: 260px;
  font-size: 4rem;
  letter-spacing: 0.05em;
  font-style: italic;
}

.service-wrapper .service-sec .service-list-02 a:hover {
  background-color: rgba(19, 18, 18, 0.3);
}

.service-wrapper .service-sec .service-list-03 {
  background: url(imge/sevice-img03@2x.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 260px;
  margin-bottom: 8vw;
}

.service-wrapper .service-sec .service-list-03 a {
  text-align: center;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  line-height: 260px;
  font-size: 4rem;
  letter-spacing: 0.05em;
  font-style: italic;
}

.service-wrapper .service-sec .service-list-03 a:hover {
  background-color: rgba(19, 18, 18, 0.3);
}

@media screen and (min-width: 900px) {
  .service-wrapper .inner {
    max-width: 1000px;
    margin: 0 auto;
  }
  .service-wrapper .inner-pc {
    max-width: 1200px;
    margin: 0 auto;
  }
  .service-wrapper .service-sec {
    flex-direction: row;
    margin-bottom: 100px;
  }
}

.contact-wrapper {
  background-image: url(imge/contact-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  padding-bottom: 20px;
}

.contact-wrapper .inner {
  padding: 0 10px;
  text-align: center;
}

.contact-wrapper .inner .main-ttl {
  text-align: right;
  color: #fff;
}

.contact-wrapper .inner .main-ttl:after {
  background-color: #fff;
}

.contact-wrapper .inner .contact-btn a {
  display: inline-block;
  width: 80%;
  height: 60px;
  line-height: 60px;
  background-color: #F7D43F;
  text-decoration: none;
  font-size: 2.4rem;
  color: #171717;
  border-radius: 30px;
  width: 80%;
}

.contact-wrapper .inner .contact-btn a:hover {
  opacity: 0.7;
}

.contact-wrapper .inner .sub-ttl {
  font-size: 1.8rem;
  line-height: 1.5em;
  margin-bottom: 33px;
  color: #fff;
  margin-top: 60px;
}

.contact-wrapper .main-ba-bottom {
  text-align: left;
}

@media screen and (min-width: 900px) {
  .contact-wrapper .inner {
    max-width: 1000px;
    margin: 0 auto;
  }
  .contact-wrapper .inner .main-ttl {
    text-align: right;
    color: #fff;
  }
  .contact-wrapper .inner .main-ttl:after {
    background-color: #fff;
    width: 200px;
  }
  .contact-wrapper .inner .sub-ttl {
    font-size: 3.0rem;
  }
  .contact-wrapper .inner .contact-btn a {
    width: 320px;
  }
}

@media screen and (min-width: 1200px) {
  .inner-pc {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.footer small {
  font-size: 1.4rem;
  text-decoration: none;
}

.shingle-key-visual {
  background-image: url(imge/contact-page-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  padding-top: 20px;
}

.shingle-key-visual .single-main-ttl {
  font-size: 4.0rem;
  line-height: 4.0rem;
  letter-spacing: 0.05em;
  font-style: italic;
  color: #fff;
  padding: 80px 0 10px 20px;
}

.bg-color {
  background-color: #f1f0f0;
}

.bg-color .inner-main {
  padding: 10px;
}

.bg-color .inner-main .nav-list {
  list-style-type: none;
  display: flex;
  margin: 20px 0;
}

.bg-color .inner-main .nav-list li {
  padding-right: 10px;
}

.bg-color .inner-main .nav-list li a {
  color: #5e9b84;
  display: inline-block;
}

.bg-color .inner-main .nav-list li a .fa-home {
  margin-right: 3px;
}

.bg-color .inner-main .nav-list li a .fa-angle-double-right,
.bg-color .inner-main .nav-list li a .fa-external-link-alt {
  padding-left: 4px;
  vertical-align: middle;
}

.bg-color .inner-main .nav-list li a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.bg-color .inner-main .nav-list li .fa-angle-right {
  margin-left: 5px;
  vertical-align: middle;
}

.bg-color .inner-main .works-sec {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.bg-color .inner-main .works-sec .works-list a {
  text-decoration: none;
  color: #171717;
}

.bg-color .inner-main .works-sec .works-list a img {
  width: 100%;
}

.bg-color .inner-main .works-sec .works-list a .works-text {
  padding: 20px;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  text-align: left;
}

.bg-color .inner-main .works-sec .works-list a:hover {
  opacity: 0.7;
}

.single-footer {
  background-color: #282F35;
  color: #fff;
}

@media screen and (min-width: 900px) {
  .shingle-key-visual {
    padding: 125px 0;
    margin-bottom: 20px;
  }
  .shingle-key-visual .single-main-ttl {
    font-size: 6.0rem;
  }
  .bg-color .inner-main {
    margin: 0;
  }
  .bg-color .inner-main .works-sec {
    flex-direction: row;
  }
  .bg-color .inner-main .works-sec {
    flex-direction: row;
    margin: 50px 0 100px 0;
  }
  .bg-color .inner-main .works-sec .works-list {
    margin-right: 20px;
  }
  .bg-color .inner-main .works-sec .works-list:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .shingle-key-visual {
    padding: 125px 0;
  }
  .shingle-key-visual .inner {
    max-width: 1100px;
    margin: 0 auto;
  }
  .bg-color {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .bg-color .inner-main {
    width: 900px;
    margin: 0 auto;
  }
}

.inner-main .single-contact-wrapper {
  margin: 0 20px;
}

.inner-main .single-contact-wrapper .sub-ttl {
  font-size: 1.8rem;
  line-height: 1.5em;
  margin-bottom: 33px;
  margin-bottom: 10px;
}

.inner-main .single-contact-wrapper .check-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inner-main .single-contact-wrapper .check-list li {
  padding-right: 10px;
  margin-bottom: 10px;
}

.inner-main .single-contact-wrapper .label {
  font-size: 1.8rem;
  display: block;
  width: 100%;
  margin-bottom: 18px;
}

.inner-main .single-contact-wrapper .label .input {
  width: 94%;
  padding: 10px;
}

.inner-main .single-contact-wrapper .label .contact-name {
  display: inline-block;
  width: 110px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.inner-main .single-contact-wrapper .message {
  display: inline-block;
  width: 110px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-size: 1.8rem;
}

.inner-main .single-contact-wrapper textarea {
  width: 98%;
  height: 80px;
  margin-bottom: 30px;
}

.inner-main .contact-btn {
  text-align: center;
  margin: 70px 0 100px 0;
}

.inner-main .contact-btn a {
  display: inline-block;
  width: 80%;
  height: 60px;
  line-height: 60px;
  background-color: #F7D43F;
  text-decoration: none;
  font-size: 2.4rem;
  color: #171717;
  border-radius: 30px;
}

@media screen and (min-width: 900px) {
  .inner-main .single-contact-wrapper {
    margin: 0 auto;
  }
  .inner-main .single-contact-wrapper .check-list {
    flex-direction: row;
  }
  .inner-main .single-contact-wrapper .check-list li {
    margin-bottom: 0;
  }
  .inner-main .single-contact-wrapper textarea {
    width: 96%;
  }
  .inner-main .contact-btn a {
    width: 320px;
  }
}

.single-service-sec .service-sec .single-main-ttl {
  margin-top: 80px;
  font-size: 4.0rem;
  line-height: 4.0rem;
  letter-spacing: 0.05em;
  font-style: italic;
  color: #fff;
  padding: 80px 0 10px 20px;
  padding: 10px 0;
  border-bottom: 2px solid #282F35;
  margin-bottom: 20px;
  padding-left: 10px;
  color: black;
}

.single-service-sec .service-sec .service-flex {
  display: flex;
  flex-direction: column;
}

.single-service-sec .service-sec .service-flex img {
  width: 100%;
}

.single-service-sec .service-sec .service-flex .sev-right {
  height: 300px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.single-service-sec .service-sec .service-flex .sev-right .box-ttl {
  display: flex;
}

.single-service-sec .service-sec .service-flex .sev-right .box-ttl .top-span-no {
  font-size: 5.0rem;
  color: skyblue;
  margin-bottom: 30px;
}

.single-service-sec .service-sec .service-flex .sev-right .box-ttl .top-span-ttl {
  font-size: 5.0rem;
  color: #171717;
  margin: 0 0 30px 30px;
}

.single-service-sec .service-sec .service-flex .sev-right .main-text {
  font-size: 1.6rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  text-align: left;
}

.single-service-sec .service-sec .service-flex .main-ba-bottom {
  margin-top: 100px;
}

@media screen and (min-width: 900px) {
  .single-service-sec .service-sec .service-flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .single-service-sec .service-sec .service-flex img {
    width: 48%;
  }
  .single-service-sec .service-sec .service-reverse {
    flex-direction: row-reverse;
  }
}

.single-ttl-h1 {
  font-size: 1.8rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  color: #282F35;
  margin: 10px 0 20px 0;
}

.single-ttl-h2 {
  font-size: 2.2rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  color: #282F35;
  background-color: #E4E2DB;
  margin: 40px 0 14px 0;
  padding: 6px 0 6px 3px;
}

.single-ttl-h3 {
  font-size: 1.6rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  color: #282F35;
  border-left: solid 4px #282F35;
  padding: 5px 0 5px 14px;
  margin: 24px 0 12px 0;
}

.single-ttl-h4 {
  font-size: 1.6rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  color: #282F35;
  border-bottom: solid 2px #282F35;
  margin-left: 10px;
  margin-bottom: 10px;
}

.single-page-sec .tag {
  font-size: 1.4rem;
  padding: 2px 6px;
  border-radius: 2px;
  background-color: skyblue;
}

.single-page-sec .single-page-img img {
  width: 100%;
}

.single-page-sec .single-page-text {
  margin: 10px 0;
}

.single-page-sec .single-page-text .main-text {
  font-size: 1.6rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 16px;
}

.single-page-sec .single-page-text .contents-list {
  max-width: 100%;
  margin-top: 20px;
  list-style-type: none;
  border: solid 2px #5e9b84;
  border-radius: 3px;
  padding: 14px;
}

.single-page-sec .single-page-text .contents-list .h4-ttl {
  font-size: 2.0rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  text-decoration: underline #5e9b84;
  margin-bottom: 10px;
}

.single-page-sec .single-page-text .contents-list li a {
  text-decoration: none;
  color: #5e9b84;
  font-size: 1.5rem;
  line-height: 2.7rem;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.single-page-sec .single-page-text .contents-list li a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.single-page-sec .main-sub-ttl {
  font-size: 2.0rem;
  line-height: 4.0em;
  letter-spacing: 0.05em;
  padding-top: 50px;
  padding-top: 50px;
}

.single-page-sec .main-text {
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  text-align: left;
}

.single-page-sec .main-text .text-br {
  margin-bottom: 10px;
}

.single-page-sec .main-sub-ttl04 {
  font-size: 2.0rem;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  border-left: 2px solid #1B1310;
  padding: 10px 2px;
}

.page-link {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #171717;
  width: 100%;
  padding: 100px 0 20px 0;
}

.page-link li {
  width: 95px;
  height: 32px;
  border: 1px solid #6d6969;
  line-height: 32px;
  text-align: center;
  width: 95px;
}

.page-link li .fa-angle-double-left {
  padding-left: 4px;
  vertical-align: middle;
  margin-right: 5px;
}

.page-link li .fa-angle-double-right {
  padding-left: 4px;
  vertical-align: middle;
  margin-right: 5px;
}

.page-link li a {
  text-decoration: none;
  display: inline-block;
  color: #171717;
  line-height: 35px;
  display: inline-block;
  width: 100%;
}

.page-link li a .fa-angle-double-left {
  padding-left: 4px;
  vertical-align: middle;
}

.page-link .next:hover {
  background-color: #E4E2DB;
  opacity: 0.7;
}

@media screen and (min-width: 900px) {
  .single-page-sec .single-page-text {
    margin: 30px 0 10px 0;
  }
}

@media screen and (min-width: 1200px) {
  .single-page-sec {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .single-page-text {
    margin: 0;
  }
}

.main-ttl {
  font-size: 3.6rem;
  font-style: italic;
  line-height: 4.0em;
  letter-spacing: 0.05em;
  color: #282F35;
  margin-bottom: 2vw;
}

.main-ttl:after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #282F35;
  vertical-align: middle;
  margin-left: 20px;
}

.main-ba-bottom {
  font-size: 4.0rem;
  letter-spacing: 0.05em;
  color: #171717;
  opacity: 0.3;
  margin: 40px 20px;
  text-align: right;
}

.main-ba-bottom:nth-child(even) {
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .main-ttl {
    font-size: 6.0rem;
  }
  .main-ttl::after {
    width: 200px;
  }
  .main-ba-bottom {
    font-size: 4.0rem;
    letter-spacing: 0.05em;
    color: #171717;
    opacity: 0.3;
    margin: 40px 20px;
    text-align: right;
    font-size: 9rem;
  }
  .main-ba-bottom:nth-child(even) {
    text-align: left;
  }
}
