@charset "utf-8";

@import "asset/libs/_mixin.scss";

.concept-wrapper {
    margin-bottom: 20vw;
    .inner {
        margin: 0 10px;
        text-align: center;

        .main-ttl {
            @include main-ttl;
            text-align: initial;
        }

        .main-ttl::after {
            @include after;
        }
        .sub-ttl{
            @include sub-ttl;
        }
        .concept-sec{
            .main-text{
                @include main-text;  
                
            }
            img{
                width: 100%;
            }
        }
        .main-ba-bottom{
            @include main-ba-bottom;
            margin-top: 8vw;
        }
    }
}

@include pc {
    .concept-wrapper {
        .inner {
            margin: 0;
            width: 1000px;

            .main-ttl {
                font-size: 6rem;
            }
        }
    }
}