@charset "utf-8";

@import "asset/libs/_mixin.scss";

.concept-wrapper {
    margin-bottom: 20vw;

    .inner {
        margin: 0 10px;
        text-align: center;

        .main-ttl {
            @include main-ttl;
            text-align: initial;
        }

        .main-ttl::after {
            @include after;
        }

        .sub-ttl {
            @include sub-ttl;
            .concept-br{
                display: none;
            }
        }

        .concept-sec {
            display: flex;
            flex-direction: column;

            .main-text {
                @include main-text;

            }

            img {
                width: 100%;
            }
        }

        .main-ba-bottom {
            @include main-ba-bottom;
            margin-top: 8vw;
        }
    }
}

@include tb {
    .concept-wrapper {
        .inner {
            width: 1000px;
            margin: 0 auto;

            .main-ttl {
                font-size: 6rem;
            }
            .sub-ttl{
                font-size: 2.2rem;
                .concept-br{
                    display: block;
                }
            }

            .concept-sec {
                flex-direction: row;
                margin-top: 50px;
                justify-content: space-between;

                .main-text {
                    align-items: center;
                    align-self: center;
                    width: 45%;

                }

                img {
                    margin-left: 20px;
                    width: 45%;
                }
            }
        }
    }
}