.inner-main .single-contact-wrapper {
  margin: 0 20px;
}

.inner-main .single-contact-wrapper .label {
  font-size: 1.8rem;
  display: block;
  width: 100%;
  margin-bottom: 18px;
}

.inner-main .single-contact-wrapper .label .input {
  width: 94%;
  padding: 10px;
}

.inner-main .single-contact-wrapper .label .contact-name {
  display: inline-block;
  width: 110px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.inner-main .single-contact-wrapper .message {
  display: inline-block;
  width: 110px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-size: 1.8rem;
}

.inner-main .single-contact-wrapper textarea {
  width: 97%;
  height: 80px;
  margin-bottom: 30px;
}
