@charset "utf-8";

@import "asset/libs/_mixin.scss";

.concept-wrapper {

    .inner {
        margin: 0 10px;
        text-align: center;

        .main-ttl {
            text-align: left;
        }

        .sub-ttl {
            @include sub-ttl;
        }

        .concept-sec {
            .main-text {
                @include main-text;
                text-align: left;
                margin-bottom: 66px;
            }

            img {
                width: 100%;
            }
        }

        .main-ba-bottom {
            text-align: right;
        }
    }
}

@include tb {
    .concept-wrapper {
        .inner {
            max-width: 1000px;
            margin: 0 auto;

            .sub-ttl {
                font-size: 3.0rem;
                margin-bottom: 60px;
            }

            .concept-sec {
                display: flex;
                justify-content: space-between;

                .main-text {
                    width: 45%;
                }

                img {
                    width: 45%;
                }
            }
        }

        .inner-pc {
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}