@charset "utf-8";

@import "asset/libs/_mixin.scss";

.header {
    position: fixed;
    width: 100vw;
    z-index: 10;

    .inner-pc {

        .inner-sp {
            display: flex;
            justify-content: space-between;
            padding: 22px 15px;
            align-items: center;

            .header-logo {
                font-size: 1.8rem;
                color: white;
                font-style: italic;
            }

            .fa-bars {
                font-size: 2.0rem;
                color: white;
            }
        }

        .sp-nav-list {
            position: fixed;
            top: 0;

            .fa-times {
                position: absolute;
                top: 10px;
                right: 20px;
                font-size: 2.0rem;

            }

            ul {

                height: 100vh;
                background-color: slateblue;
                text-align: center;

                li {
                    text-align: center;
                    width: 100vw;

                    a {
                        display: block;
                        text-decoration: none;
                        font-size: 2.4rem;
                        padding: 20px 0;
                        color: $white;

                        &:hover {
                            background-color: springgreen;
                            color: white;
                        }

                    }
                }
            }

        }

        .pc-nav-list {
            display: none;
        }
    }
}

@include tb {
    .header {
   
        .inner-pc{
            display: flex;
            justify-content: space-between;
            .fa-bars {
                display: none;
            }

            .pc-nav-list {
                display: block;
                ul{
                    display: flex;
                    li{
                        height: 60px;
                        padding: 0 30px;
                        a{
                            color: white;
                            text-decoration: none;
                            height: 60px;
                            line-height: 60px;
                        }
                    }
                }
            }
        }
    }
}