@charset "utf-8";

@import "asset/libs/_mixin.scss";


.header {

    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 10;

    .inner {
        padding: 0 20px;

        display: flex;
        justify-content: space-between;
        position: relative;
        // width: 100%;


        .header-logo {
            font-size: 2.6rem;
            height: 50px;
            line-height: 50px;
            color: $white;
        }

        .fa-bars {
            color: $white;
            z-index: 10;
            line-height: 50px;
            right: 20px;
            font-size: 20px;
        }


        .sp-nav-list {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            padding-top: 50px;
            background-color: tomato;

            ul {
                li {
                    width: 100%;
                    text-align: center;

                    a {
                        color: $white;
                        text-decoration: none;
                        display: inline-block;
                        width: 100%;
                        padding: 16px 0;
                    }
                }
            }
        }

        .pc-nav-list {
            display: none;
        }
    }
}

@include pc {
    .header {
        .inner {
            max-width: 1200px;
            margin: 0 auto;

            .header-logo {
                font-size: 3.0rem;
            }

            .pc-nav-list {
                display: block;
                // height: 80px;

                ul {
                    display: flex;
                    justify-content: flex-end;

                    li {
                        a {
                            height: 80px;
                            line-height: 80px;
                            color: $white;
                            text-decoration: none;
                            padding: 0 20px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}