@charset "utf-8";

@import "asset/libs/_mixin.scss";


.header {

    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 10;

    .inner {
        padding: 0 20px;

        display: flex;
        justify-content: space-between;


        .header-logo {
            font-size: 2.6rem;
            height: 50px;
            line-height: 50px;
            color: $white;
        }
        .fa-bars{
            font-size: 20px;
            color: $white;
            height: 50px;
            line-height: 50px;

           
        }

        .sp-nav-list {
            display: none;
        }

        .pc-nav-list {
            display: none;
        }
    }
}

@include pc {
    .header {
        .inner {
            max-width: 1200px;
            margin: 0 auto;

            .header-logo {
                font-size: 3.0rem;
            }

            .pc-nav-list {
                display: block;
                // height: 80px;

                ul {
                    display: flex;
                    justify-content: flex-end;

                    li {
                        a {
                            height: 80px;
                            line-height: 80px;
                            color: $white;
                            text-decoration: none;
                            padding: 0 20px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}