@charset "utf-8";

@import "asset/libs/_mixin.scss";

.key-visual {
    padding-top: 60px;

    .slider {
        li {
            img {
                width: 100%;
            }
        }

        .slick-next {
            display: none;
        }

        .key-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 500px;

            .key-ttl {
                font-size: 2.7rem;
                letter-spacing: 0.05em;
                line-height: 1.9em;
                color: $white;
                margin-top: 20px;
                white-space: nowrap;
            }

            .key-sub-ttl {
                font-size: 2.2rem;
                font-weight: 300;
                letter-spacing: 0.05em;
                line-height: 1.9em;
                color: $white;
                margin-top: 20px;
                white-space: nowrap;
            }
        }
    }
}