@charset "utf-8";

// @import "asset/libs/_mixin.scss";
.key-visual {
    background: url(imge/fv-bgi_01@2x.jpg);
    background-position: center;
    background-size: cover;
    min-height: 600px;
    text-align: center;
    position: relative;

    .key-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;

        .key-ttl {
            font-size: 3.7rem;
            letter-spacing: 0.05em;
            line-height: 1.9em;
            color: $white;
            margin-top: 20px;
            white-space: nowrap;
        }

        .key-sub-ttl {
            font-size: 2.8rem;
            letter-spacing: 0.05em;
            line-height: 1.9em;
            color: $white;
            margin-top: 20px;
            white-space: nowrap;
        }
    }
}

@include pc {
    .key-visual {
        .key-text {
            text-align: initial;
            margin-left: 80px;
            padding-top: 50px;

            .key-ttl {
                font-size: 7.0rem;
            }
            .key-sub-ttl{
                font-size: 4.0rem;
                .key-br {
                    display: none;
                }
            }

        }

    }
}