@charset "utf-8";

@import "asset/libs/_mixin.scss";

.service-wrapper {

    .main-ttl {
        text-align: left;
    }

    .service-sec {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        .service-list-01 {
            background: url(imge/service-img01@2x.jpg);
            @include service-list;

            a {
                @include service-list-a;
            }
        }

        .service-list-02 {
            background: url(imge/service-img02@2x.jpg);
            @include service-list;

            a {
                @include service-list-a;
            }
        }

        .service-list-03 {
            background: url(imge/sevice-img03@2x.jpg);
            @include service-list;

            a {
                @include service-list-a;
            }
        }
    }
  
}

@include tb {
    .service-wrapper {
        .inner {
            max-width: 1000px;
            margin: 0 auto;
        }

        .inner-pc {
            max-width: 1200px;
            margin: 0 auto;
        }

        .service-sec {
            flex-direction: row;
        }
    }
}