@charset "utf-8";

@import "asset/libs/_mixin.scss";

.service-wrapper {


    .main-ttl {
        @include main-ttl;
    }

    .main-ttl::after {
        @include after;
        align-self: center;
    }

    .service-sec {
        list-style-type: none;

        .service-list-01 {
            background: url(imge/service-img01@2x.jpg);
            @include service-list;

            a {
                @include service-list-a;

            }
        }
        .service-list-02{
            background: url(imge/service-img02@2x.jpg);
            @include service-list;

            a {
                @include service-list-a;

            }
        }
        .service-list-03{
            background: url(imge/sevice-img03@2x.jpg);
            @include service-list;

            a {
                @include service-list-a;

            }
        }
    }
}