@charset "utf-8";

@import "asset/libs/_mixin.scss";

.works-wrapper {
    background-image: url(imge/works-bgi@2x.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
    padding-bottom: 10px;

    .main-ttl {
        text-align: right;
        color: $white;

        &:after {
            background-color: $white;
        }
    }

    .inner {
        margin: 0 10px;

        .works-sec {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            margin-bottom: 60px;

            .works-list {
                margin-bottom: 20px;

                a {
                    text-decoration: none;
                    color: $font-color;

                    img {
                        width: 100%;
                        vertical-align: bottom;
                    }

                    .works-text {
                        padding: 20px;
                        background-color: $white;
                        height: 100px;
                        @include main-text;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .works-btn {
        text-align: center;

        a {
            @include btn;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .main-ba-bottom {
        text-align: left;
    }
}

@include tb {
    .works-wrapper {
        .inner {
            max-width: 1000px;
            margin: 0 auto;

            .main-ttl {
                &:after {
                    width: 200px;
                }
            }

            .works-sec {
                flex-direction: row;

            }

            .works-list {
                width: 33%;
                margin-right: 20px;
                margin-bottom: 0px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        .works-btn {
            a {
                width: 320px;
            }
        }
    }
}

@include pc {
    .inner-pc {
        max-width: 1200px;
        margin: 0 auto;
    }
}