@charset "utf-8";

@import "asset/libs/_mixin.scss";

.works-wrapper {
    background-image: url(imge/works-bgi@2x.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;

    .main-ttl {
        text-align: right;
        color: white;

        &:after {
            background-color: white;
            width: 200px;
        }
    }

    .inner {
        margin: 0 10px;
        text-align: center;

        .works-sec {
            display: flex;
            flex-direction: column;
            padding: 0 10px;

            .works-list {
                a {
                    text-decoration: none;
                    color: $font-color;

                    img {
                        width: 100%;
                    }

                    .works-text {
                        padding: 20px;
                        background-color: white;
                        // margin-bottom: 20px;
                        @include main-text;
                    }
                }
            }
        }
    }

    .works-btn {
        a {
            @include btn;
        }
    }

    .main-ba-bottom {
        text-align: left;
    }
}

@include tb {
    .works-wrapper {
        .inner {
            max-width: 1000px;
            margin: 0 auto;
            max-width: 1000px;
            margin: 0 auto;

            .works-sec {
                flex-direction: row;
                padding: 0;


                .works-list {
                    width: 33%;
                    margin-right: 20px;
                    &:last-of-type{
                        margin-right: 0;
                    }
                }
            }
        }

        .inner-pc {
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}